{% extends 'layouts/main.html' %}
{% block title %}New Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">List a new artist</h3>
      <div class="form-group">
        <label for="name">Name</label>
        {% if form.errors.name %}
        <br><span class="text-danger">{{ "<br>".join(form.errors.name) }}</span>
        {% endif %}
        {{ form.name(class_ = 'form-control', autofocus = true) }}
        {{ form.csrf_token() }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            {% if form.errors.city %}
            <br><span class="text-danger">{{ "<br>".join(form.errors.city) }}</span>
            {% endif %}
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
            </div>
            {% if form.errors.state %}
            <br><span class="text-danger">{{ "<br>".join(form.errors.state) }}</span>
            {% endif %}
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {% if form.errors.phone %}
          <br><span class="text-danger">{{ "<br>".join(form.errors.phone) }}</span>
          {% endif %}
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {% if form.errors.genres %}
        <br><span class="text-danger">{{ "<br>".join(form.errors.genres) }}</span>
        {% endif %}
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {% if form.errors.facebook_link %}
          <br><span class="text-danger">{{ "<br>".join(form.errors.facebook_link) }}</span>
          {% endif %}
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="seeking_venue">Seeking Venue</label>
        {% if form.errors.seeking_venue %}
        <br><span class="text-danger">{{ "<br>".join(form.errors.seeking_venue) }}</span>
        {% endif %}
        {{ form.seeking_venue(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="seeking_description">Seeking Description</label>
        {% if form.errors.seeking_description %}
        <br><span class="text-danger">{{ "<br>".join(form.errors.seeking_description) }}</span>
        {% endif %}
        {{ form.seeking_description(class_ = 'form-control', placeholder='Description ...', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="image_link">Image Link</label>
        {% if form.errors.image_link %}
        <br><span class="text-danger">{{ "<br>".join(form.errors.image_link) }}</span>
        {% endif %}
        {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="website_link">Website Link</label>
        {% if form.errors.website_link %}
        <br><span class="text-danger">{{ "<br>".join(form.errors.website_link) }}</span>
        {% endif %}
        {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>
      <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}